@import "./colors";
@keyframes arrow-animation {
  from {
    font-size: 1rem;
  }
  to {
    font-size: 1.75rem;
  }
}
.animate {
  animation-name: arrow-animation;
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
}
li {
  list-style: none;
}
video {
  object-fit: fill;
}
.section_space {
  margin-top: 5rem;
}
.font-primary {
  color: $font-primary;
}
.main-button {
  background-color: $font-primary;
  width: 19rem;
  height: 4rem;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  color: $button-font;
}
.second-button {
  background-color: transparent;
  width: 19rem;
  height: 4rem;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  color: yellow;
}
.video {
  border-radius: 40px;
  width: 50rem;
  height: 40rem;
}
.second-bg {
  background-color: $secondary-bg;
}
.video-width {
  width: 60%;
}
.desc-width {
  width: 40%;
}
.desc {
  font-size: 15px;
  font-weight: bold;
  line-height: 30px;
}
.smaller-desc {
  font-size: 12px;
  font-weight: bold;
  line-height: 30px;
}
.inner-space {
  padding-top: 5rem;
}
.card-width {
  width: 24%;
  background-color: $secondary-bg;
  .first {
    width: 20%;
  }
  .second {
    width: 80%;
    p {
      font-size: 11.5px;
    }
  }
}
.footer-bg {
  background-color: $font-primary;
  overflow: hidden;
}
.bg-yellow {
  background-color: yellow;
  border-radius: 50%;
  color: $font-primary;
  position: relative;
}
.pos {
  bottom: 20px;
  left: 50px;
}
.pos2 {
  right: -78.5rem;
  bottom: 20px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  height: 45px;
  width: 12%;
  color: $font-primary;
}
.border-radius {
  border-radius: 40px;
}
.small-font {
  font-size: 14px;
  font-weight: 500;
}
.round {
  border-radius: 10px;
}
.footer-last-space {
  margin-bottom: 7rem;
}
